In [1]:
# !pip install psycopg2
import pandas as pd
import os
import psycopg2 as ps
from datetime import datetime

In [2]:
def connect_to_db(host_name
                 , dbname
                 , port
                 , username
                 , password):
    try:
        conn = ps.connect(host=host_name
                         , database=dbname
                         , user=username
                         , password=password
                         , port=port)
    except ps.OperationalError as e:
        raise e
    else:
        print('Connected')
        return conn

In [3]:
host_name = 'localhost'
dbname = 'narfi'
port = 5432
username = 'odin'
password = 'odin'

conn = connect_to_db(host_name, dbname, port, username, password)

OperationalError: FATAL:  database "narfi" does not exist

In [33]:
cr_2018_df = dfs['2018_Full_Cities_Dataset']
cr_2019_df = dfs['2019_Full_Cities_Dataset']
cr_2020_df = dfs['2020_Full_Cities_Dataset']

cdp_df = cr_2018_df.append([cr_2019_df, cr_2020_df])
#cdp_df = cr_2018_df

cdp_df['Row Name'] = cdp_df['Row Name'].fillna('NA')
cdp_df['Response Answer'] = cdp_df['Response Answer'].fillna('NA')
cdp_df.drop('Questionnaire', axis=1, inplace=True)
cdp_df.drop('Comments', axis=1, inplace=True)
cdp_df.drop('File Name', axis=1, inplace=True)
cdp_df.drop('Last update', axis=1, inplace=True)


index = cdp_df.index
num_rows = len(index)

print(num_rows)
cdp_df.head(100)

# cr_2018_df['Comments'].value_counts()

1542496

,Year Reported to CDP,Account Number,Organization,Country,CDP Region,Parent Section,Section,Question Number,Question Name,Column Number,Column Name,Row Number,Row Name,Response Answer
0,2018,3203,City of Chicago,United States of America,North America,Water,Wastewater,16.1,Please provide the percentage breakdown of the...,1,Percentage of wastewater collected,5,Other type of wastewater,NA
1,2018,50555,City of Hamilton,Canada,North America,Climate Hazards,Climate Hazards,2.2a,Please list the most significant climate hazar...,5,Probability of hazard,4,NA,Medium High
2,2018,50392,Prefeitura de Vit√≥ria,Brazil,Latin America,Emissions Reduction: City-wide,Emissions Reduction Actions : City-wide,8.4,What actions is your city taking to reduce emi...,1,Emissions reduction project activity,3,NA,On-site renewable energy generation
3,2018,36522,Comune di Verbania,Italy,Europe,Strategy,Energy,9.0,Please indicate the energy mix of electricity ...,2,Gas,1,Energy consumption percentage,NA
4,2018,35873,Municipality of Medell√≠n,Colombia,Latin America,Climate Hazards,Climate Hazards,2.2a,Please list the most significant climate hazar...,3,Magnitude of impact,6,NA,Serious
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018,1184,City of Austin,United States of America,North America,City Wide Emissions,GHG Emissions Data,7.3a,Please provide a summary of emissions by secto...,1,Emissions (metric tonnes CO2e),11,Industrial Processes and Product Use ‚Äì Scope 1...,959520
96,2018,60206,City of Jelgava,Latvia,Europe,Climate Hazards,Climate Hazards,2.2a,Please list the most significant climate hazar...,9,Top three assets/ services affected,8,NA,NA
97,2018,43930,The Hague,Netherlands,Europe,Hazards and Adaptation,Adaptation,3.6,Please describe how much your adaptation actio...,1,Underlying factors,1,NA,Access to quality / relevant data
98,2018,31109,City of Melbourne,Australia,Southeast Asia and Oceania,Strategy,Waste,14.1,What is the amount of your city‚Äôs total solid ...,1,Amount of total solid waste collected (tonnes/...,1,Formal sector,100
99,2018,36039,Accra Metropolitan Assembly,Ghana,Africa,Emissions Reduction: City-wide,Emissions Reduction Actions : City-wide,8.4,What actions is your city taking to reduce emi...,6,Web link to project website,0,NA,NA

In [17]:
# Helper Functions
def get_city_answers(df, question_name, column_name, new_column_name, include_city, convert_to_numeric, row_name=None, dropna=True, dropNotApplicable=True):
    """
    Gets the answers for a question in the city dataframe.
    
    Parameters
    ----------
        df (dataframe): The city dataframe
        question_name (string): the question to query.
        column_name (string): the column to query.
        new_column_name (string): rename the column name to user friendly name.
        include_city (boolean): if true the organization name column will be included in the returned dataframe.
        convert_to_numeric (boolean): if true, the column will convert to numeric data type.
        row_name(string): Optional, if not None, filter by row.
        dropna(bool): Optional, if true, it will drop invalid rows
        dropNotApplicable (bool): Optional, if true, it will drop Unanswered rows
        
    Returns
    -------
    result_df: The result dataframe for the input question and column
    """
    
    selected_columns = ['Account Number', 'Response Answer']
    renamed_columns = {'Response Answer': new_column_name} 
    if include_city:
        selected_columns = ['Organization'] + selected_columns
        renamed_columns['Organization'] = 'City'


    result_df = df[df['Question Name'] == question_name]
    result_df = result_df[result_df['Column Name'] == column_name]
    if row_name:
        result_df = result_df[result_df['Row Name'] == row_name]
    result_df = result_df[selected_columns].rename(columns=renamed_columns)
        
    # Get information about the amount of response to this question
    total_number_of_answers = len(result_df)
    number_of_invalid_answers = sum(result_df[new_column_name]=='Question not applicable') + sum(result_df[new_column_name].isna()) + sum(result_df[new_column_name] == '0')
    number_of_valid_answers = total_number_of_answers-number_of_invalid_answers
    print ('The number of cities that responded to this questions is', number_of_valid_answers)
    print ('The number that did not respond is', number_of_invalid_answers, 'out of', total_number_of_answers)
    
    # # Drop unanswered responses and invalid answers
    if dropNotApplicable:
        result_df = result_df[result_df[new_column_name]!='Question not applicable']
        result_df = result_df[result_df[new_column_name]!='0']
    if dropna:
        result_df = result_df.dropna()
    
    if convert_to_numeric: 
        result_df[new_column_name] = pd.to_numeric(result_df[new_column_name])

    return result_df, [number_of_valid_answers, number_of_invalid_answers]

In [22]:
# Get the population of the city
cdp_pop_df, cdp_pop_responses = get_city_answers(df = cdp_df, 
                                                       question_name = 'Please provide details of your city‚Äôs current population. Report the population in the year of your reported inventory, if possible.',
                                                       column_name = 'Current population',
                                                       new_column_name = 'Population',
                                                       include_city = True,
                                                       convert_to_numeric = True)
cdp_pop_df

The number of cities that responded to this questions is 0
The number that did not respond is 0 out of 0

Empty DataFrame
Columns: [City, Account Number, Population]
Index: []

In [ ]:
df_location = dfs['2018_Cities_Disclosing_to_CDP']['City Location']
df_location.head()
for i, r in df_location.iteritems():
    b = [x for x in r.lstrip("POINT (").rstrip(")").split(" ")]
    print(b[0], b[1])

In [9]:
cd_2018_df.head()

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,Reporting Authority,Access,First Time Discloser,Population,Population Year,City Location,Last update
0,2018,58671,Helsing√∏r Kommune / Elsinore Municipality,Helsing√∏r,Denmark,Europe,CDP Cities,public,No,62686.0,2017,POINT (12.5921 56.0308),2020-06-25T04:52:49.050
1,2018,59167,Municipalidad de Providencia,Providencia,Chile,Latin America,CDP Cities,public,No,126487.0,2012,POINT (-70.6092 -33.4313),2020-06-25T04:52:49.050
2,2018,50553,City of Fresno,Fresno,United States of America,North America,CDP Cities,public,Yes,527438.0,2017,POINT (-119.773 36.7468),2020-06-25T04:52:49.050
3,2018,826407,Mun√≠cipio de Mirandela,Mirandela,Portugal,Europe,CDP Cities,public,Yes,11852.0,2011,POINT (-7.1753 41.51),2020-06-25T04:52:49.050
4,2018,60375,Gobiernaci√≥n del Archipi√©lago de San Andr√©s,Archipi√©lago de San Andr√©s,Colombia,Latin America,CDP Cities,public,No,120000.0,2017,POINT (-81.6976 12.5794),2020-06-25T04:52:49.050

In [56]:
from psycopg2.extensions import adapt, register_adapter, AsIs

class Point(object):
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
def adapt_point(point):
    x = adapt(point.x).getquoted()
    y = adapt(point.y).getquoted()
    print(x)
    return AsIs("'(%s, %s)'" % (x, y))

register_adapter(Point, adapt_point)

In [35]:
from decimal import Decimal

host_name = 'localhost'
dbname = 'cdp'
port = 5432
username = 'odin'
password = 'odin'

conn = connect_to_db(host_name, dbname, port, username, password)

try:
    index = cdp_df.index
    num_rows = len(index)
    print(num_rows)

    idx = 0
    curr = conn.cursor()
    for i, row in cdp_df.iterrows():
        idx = idx + 1
        
        insert_stmt = ("""INSERT INTO public.city_responses
                        (year_reported
                        , account_number
                        , organization
                        , country
                        , cdp_region
                        , parent_section
                        , "section"
                        , question_number
                        , question_name
                        , column_number
                        , column_name
                        , "row_number"
                        , row_name
                        , response_answer)
                    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
                """)
        insert_row = (row['Year Reported to CDP']
                       , row['Account Number']
                       , row['Organization']
                       , row['Country']
                       , row['CDP Region']
                       , row['Parent Section']
                       , row['Section']
                       , row['Question Number']
                       , row['Question Name']
                       , row['Column Number']
                       , row['Column Name']
                       , row['Row Number']
                       , row['Row Name']
                       , row['Response Answer'])

        curr.execute(insert_stmt, insert_row)
        conn.commit()
except conn.OperationalError as e:
    print(e)
    raise e
print(idx)

Connected
1542496
1542496